.container {
	transition: transform 0.2s cubic-bezier(0.47, 1.64, 0.41, 0.8),
		box-shadow 0.2s cubic-bezier(0.47, 1.64, 0.41, 0.8);
	border-radius: var(--radius);
	background: var(--white);
	overflow: hidden;
	cursor: pointer;

	&:hover {
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
		transform: scale(1.03);
	}

	.image {
		overflow: hidden;
		height: 200px;
		width: 100%;

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}

	.content {
		padding: calc(var(--margin) * 3);

		.info {
			h2,
			p {
				color: var(--text);
			}

			p {
				margin-top: var(--margin);
			}
		}
	}
}
