.container {
	padding: calc(var(--margin) * 2) calc(var(--margin) * 3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	justify-content: space-between;
	align-items: center;
	display: flex;
	width: 100%;

	span {
		margin-right: calc(var(--margin) * 2);
		background-color: var(--text);
		border-radius: 100%;
		min-height: 30px;
		min-width: 30px;
		opacity: 0.15;
	}

	div {
		background-color: var(--text);
		border-radius: 40px;
		opacity: 0.15;
		height: 20px;
		width: 100%;
	}
}
