.container {
	position: relative;

	img {
		position: absolute;
		height: 180px;
		left: 10px;
		top: 20px;
	}

	.title {
		padding: calc(var(--margin) * 3);
		border-radius: var(--radius);
		background: var(--white);
		padding-left: 130px;

		h1,
		p {
			color: var(--text);
		}

		p {
			margin-top: var(--margin);
			line-height: 1.4;
			max-width: 200px;

			span {
				color: var(--lightBlue);
			}
		}
	}
}
